* {
    margin: 0;
    padding: 0;
    /* Minden HTML elem külső és belső margóját 0-ra raktuk */
    box-sizing: border-box;
    /* elem szélességébe width értékbe beletartozik a padding és border */
}

body {
    width: 90%;
    max-width: 1500px;
    margin: auto; /* Középre az oldalt */
    background-color: rgb(233, 218, 230);
}

main {
    /* Tarolo, szülőelem */
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
    "n n"
    "ar a"
    "f f";
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}
nav a {
    text-decoration: none;
}
nav {
    grid-area: n;
}
footer {
    margin-top: 10px;
    grid-area: f;
    background-color: white;
}
aside {
    grid-area: a;
    background-color: white;
}

.aru {
    display: grid;
    grid-template-rows: 40px auto auto 60px
}

img {
    width: 200px;
}
article {
    grid-area: ar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div {
    background-color: white;
    margin: 5px;
    padding: 7px;
}

div#bal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.asd {
    text-align: right;
}
#eredmeny {
    color: brown;
    text-align: center;
    border-top: solid black;
    font-weight: bold;
}
#fizetes {
    color: brown;
    margin-top: 190px;
}

div#ar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
}
article#div {
    max-width: 10px;
}

.kocsiar {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
    border-radius: 20px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    min-width: 120px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 1000;
    text-align: center;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 30px;
}

.kocsiar:hover{
    color: #fff;
    background-color: #616467;
}

p {
    text-align: justify;
}

/* TABLET NÉZET - RESZPONZIVITÁS KIALAKÍTÁSA */
@media only screen and (max-width: 960px) { /* töréspont */
    body, main {
      /* background-color: lightblue; */
      width: 100%;
    }
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "n n"
        "ar a"
        "f f";
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    article {
        grid-area: ar;
        display: grid;
        grid-template-columns: 1fr;
    }

  }

/* MOBIL NÉZET - RESZPONZIVITÁS KIALAKÍTÁSA */
@media only screen and (max-width: 500px) { /* töréspont */
    body, main {
      /* background-color: lightblue; */
      width: 100%;
    }
    main {
        font-size: 6vw;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "n"
        "a"
        "ar"
        "f";
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    article {
        grid-area: ar;
        display: grid;
        grid-template-columns: 1fr;
    }
  }